/*底部底部样式*/
.footer{background: #333333;padding: 10px 0;}
.footer .cont{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.footer .cont p{
    line-height: 26px;
    color: #999999;
    font-size: 12px;
    padding: 0 5px;
}
.footer .cont p a{color: #999999;}
.footer .cont p a:hover{color: #FFFFFF;}
